* {
  color-scheme: dark;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
  color: #c9d1d9;
  background-color: #0d1117;
}

textarea {
  font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
  background-color: #3b3b3b;
}

pre {
  font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
  color: #63c174;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  margin: 0 auto;
  max-width: 800px;
}

.main > * {
  margin: 0.5rem;
}

.main > pre {
  width: 100%;
  overflow-x: auto;
}

.main > textarea {
  width: 100%;
}

.main > .search {
  align-self: flex-end;
  margin-right: 0;
}

.main > .search > label {
  margin: 0 0.5rem;
  vertical-align: middle;
}